<!DOCTYPE html>
<html>
<head>
<title>
    {% block title %}
    {% endblock %}
</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
<div>

    {% include  "_partials/header.html" %}
    <div class="ui container">
        {% block content %}
        {% endblock content %}
    </div>
   
</div>



</body>
</html>