{% load static %}
<div class="ui menu">
    <div class="ui container">
      <a href={% url 'home' %} class="header item">         <img class="logo" class="logo" src= {% static 'img/Logo.jpg' %} />
    </a>



    <div class="right item">
      {% if request.user.is_authenticated %}

      <a href={%  url 'create_todo' %} class="ui primary button">Create Todo</a>


        <div class="ui simple dropdown item">
            {{request.user.username}} <i class="dropdown icon"></i>
            <div class="menu">
            <form class="ui large form"method ="post" action={% url 'logout_user' %}>
              {% csrf_token %}
          <input class="ui button" type = "submit" value="Sign out" />
            </form>
        </div>
      </div>
      {% else %}
        <div class="ui item">
        <a href={% url 'login' %} class = "ui primary button">Login</a>
        </div>
        
        <div class="ui item">
            <a href={% url 'register' %} class = "ui primary button">Register</a>
            </div>

            {% endif %}
    </div>
    </div>
    </div>
  </div>