{% extends '_partials/base.html' %}
{% block title %}
Create Todo

{% endblock %}
{% load static %}
{% block content %}

    

<h1>Create Todo</h1>
{% include '_partials/messages.html' %}

<form class="ui form" method= "post" action="{% url 'create_todo' %}">
    {% csrf_token %}
    {{form.as_p}}
<input type="submit" class="ui button primary" value="Submit">
</form>

{% endblock content %}