{% extends '_partials/base.html' %}
{% block title %}
Delete Todo:{{todo.title}}

{% endblock %}
{% block content %}

   

<h1 class="ui header">Delete Todo?</h1>


<form method="post" action={% url 'todo_delete' todo.id %} class="ui form">
    {% csrf_token %}
    <p>Are you sure you want to delete this todo?</p>
    <input type="submit" class="ui button negative" value="YES">
    <a href={% url 'todo' todo.id %}>Cancel</a>

</form>   

{% endblock content %}