{% extends '_partials/base.html' %}
{% block title %}
Edit:{{todo.title}}

{% endblock %}
{% block content %}

    

<h1>Edit</h1>
<form class="ui form" method= "post" action="{% url 'todo_edit' todo.id %}">
    {% csrf_token %}
    {{form.as_p}}
<input type="submit" class="ui button primary" value="Save">
</form>

{% endblock content %}